body, html {
    background-color: #FFFFFF;
    color: #444444;
    font-family: Open Sans, Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 0;
    height: 100%;
}

table {
    width: 100%;    
}

ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

#header {
    z-index: 1;
    width: 100%;
    position: fixed;
    height: 60px;
    text-align: left;
}

#header img {
    padding-left: 20px;
    position: relative;
    height: 30px;
    transform: translateY(50%);
}

#login {
    float: right;
}

#loginHeader a, #loginHeader button {
    display: inline-block;
    height: 60px;
    border: none;
    line-height: 60px;
    padding-right: 20px;
    font-size: 1.5rem;
    text-decoration: none;
    font-weight: bold;
}

#logoutForm {
    float: right;
    display: inline-flex;
}

h1,h3 {
    margin:0;
    font-weight: bold;
}

#mainMenu {
    height: 100%;
    width: 160px; 
    position: fixed; 
    z-index: 1; 
    top: 60px; 
    left: 0;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
}

    #mainMenu a:hover {
        text-decoration: none;
        color: #FFFFFF;
    }

    #mainMenu ul {
        margin: 0;
        padding-left: 30px;
        text-align: left;
    }

        #mainMenu ul li {
            margin: 30px 0 5px 0;
            font-weight: bolder;
            font-size: 1.3em;
        }

.content {
    position: relative;
    top: 60px;
    margin-left: 160px;
    padding: 20px 20px 0 20px;
}

.component {
    padding: 10px 50px 10px 50px;
}

#statsTable {
    text-align: left;
    width: 100%;
}

#btnRemoveLinkedVendorAccount {
    float: none;
}

.quaterWidth {
    width: 75%;
    margin: auto;
}

.halfWidth {
    width: 50%;
}

.inline {
    display: inline;
}

.floatRight {
    float: right;
}

.floatLeft {
    float: left;
}

.btn {
    margin: 0 5px 0 5px;
}

#scannerSection {
    margin-top: 60px;
}

#scannerForm {
    width: 90%;
    margin: 30px auto;
}

    #scannerForm input {
        height: 50px;
        width: 100%;
    }

#statsSection {
    margin: 30px auto;
}

#importAttendees {
    margin: 20px 0;
}

#statsTable th {
    font-size: larger;
}

#topMessage {
    position: absolute;
    width: 100%;
    text-align: center;
}

#winnerList li {
    text-align: center;
    font-weight: bolder;
    margin: 40px 0;
}

/* Display */
.displayContent {
    position: relative;
    top: 80px;
    height: 100%;
}

.displayPrizeImage {
    margin: 30px;
    max-width: 300px;
    max-height: 300px;
    width: auto;
    height: auto;
}

#prizesLeftToDrawText {
    padding-right: 20px;
}

/* colours */
.bg-primary {
    background-color: #0077BE;
}

.bg-lightgreen {
    background-color: #007852;
}

.bg-lightgrey {
    background-color: #45A046;
}

a:link, a:visited {
    text-decoration: underline;
    cursor: pointer !important;
}

    a:link:active, a:visited:active {
        cursor: pointer !important;
    }

.txt-menu {
    color: #ffffff !important;
    font-family: 'Oswald', sans-serif !important;
}

.txt-secondary {
    color: #0B8261 !important;
    font-family: 'Lato', sans-serif !important;
}

/* Loading bar */
.lds-ring {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
}

    .lds-ring div {
        box-sizing: border-box;
        display: block;
        position: absolute;
        width: 51px;
        height: 51px;
        margin: 6px;
        border: 6px solid #007BFF;
        border-radius: 50%;
        animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
        border-color: #007BFF transparent transparent transparent;
    }

        .lds-ring div:nth-child(1) {
            animation-delay: -0.45s;
        }

        .lds-ring div:nth-child(2) {
            animation-delay: -0.3s;
        }

        .lds-ring div:nth-child(3) {
            animation-delay: -0.15s;
        }

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
